<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/plugins.css" />
    <link rel="stylesheet" href="../assets/css/raleway-webfont.css" />
    <!--Theme custom css -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="../assets/css/responsive.css" />
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<p><%= rows[0].ID %></p>

<p><%= rows[0].Name %></p>

<p><%= rows[0].Password %></p>

<p><%= rows[0].regist_date %></p>
</body>
</html>
